<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="application.environment" value="qa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="site" value="rovia" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="application.tripsErrorUI.url" value="http://apis.qa-worldventures.com/TripsErrorUI/v3.0/logs.aspx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="application.url" value="http://dtl.qa-rovia.com/rovia" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key ="application.loggedfilepath" value="\\TavWITPD047\D$\TestResults\Rovia\QA" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>