<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="browser" value="chrome"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="browser_version" value="39.0"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="application.environment" value="prod"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="site" value="rovia" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="application.tripsErrorUI.url" value="http://apis.rovia.com/TripsErrorUI/v1.0/Logs.aspx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="application.url" value="http://corp.rovia.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key ="application.loggedfilepath" value="\\TavWITPD047\D$\TestResults" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>