<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LogManager" type="Rovia.UI.Automation.Logger.LogManagerConfigSection, Rovia.UI.Automation.Logger" />
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <connectionStrings>
    <add name="ActivityScenariosDataConnection" connectionString="Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\\ActivityScenarios.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="HotelScenariosDataConnection" connectionString="Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\\HotelScenarios.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="CSVFileDataConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|;Extended Properties=&quot;text;HDR=Yes;FMT=Delimited&quot;" providerName="System.Data.OleDb" />
    <add name="CarScenariosDataConnection" connectionString="Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\\CarScenarios.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="AirAmadeusDataConnection" connectionString="Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\\Air_Amadeus.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="AirMystiflyDataConnection" connectionString="Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\\Air_Mystifly.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="AirSabreDataConnection" connectionString="Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\\Air_Sabre.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="AirWorldSpanDataConnection" connectionString="Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\\Air_WorldSpan.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <!--Activity Data Sources-->
      <add name="ActivityCompleteBookingFlows" connectionString="ActivityScenariosDataConnection" dataTableName="ActivityCompleteBookingFlows$" dataAccessMethod="Sequential" />
      <add name="ActivityMatrixSortAndFilters" connectionString="ActivityScenariosDataConnection" dataTableName="ActivityMatrixSortAndFilters$" dataAccessMethod="Sequential" />
      <!--Air Data Sources-->
      <add name="Air_Amadeus_OneWay" connectionString="AirAmadeusDataConnection" dataTableName="Air_Amadeus_OneWay$" dataAccessMethod="Sequential" />
      <add name="Air_Amadeus_RoundTrip" connectionString="AirAmadeusDataConnection" dataTableName="Air_Amadeus_RoundTrip$" dataAccessMethod="Sequential" />
      <add name="Air_Amadeus_Multicity" connectionString="AirAmadeusDataConnection" dataTableName="Air_Amadeus_Multicity$" dataAccessMethod="Sequential" />
      <add name="Air_Mystifly_OneWay" connectionString="AirMystiflyDataConnection" dataTableName="Air_Mystifly_OneWay$" dataAccessMethod="Sequential" />
      <add name="Air_Mystifly_RoundTrip" connectionString="AirMystiflyDataConnection" dataTableName="Air_Mystifly_RoundTrip$" dataAccessMethod="Sequential" />
      <add name="Air_Mystifly_Multicity" connectionString="AirMystiflyDataConnection" dataTableName="Air_Mystifly_Multicity$" dataAccessMethod="Sequential" />
      <add name="Air_Sabre_OneWay" connectionString="AirSabreDataConnection" dataTableName="Air_Sabre_OneWay$" dataAccessMethod="Sequential" />
      <add name="Air_Sabre_RoundTrip" connectionString="AirSabreDataConnection" dataTableName="Air_Sabre_RoundTrip$" dataAccessMethod="Sequential" />
      <add name="Air_WorldSpan_OneWay" connectionString="AirWorldSpanDataConnection" dataTableName="Air_WorldSpan_OneWay$" dataAccessMethod="Sequential" />
      <add name="Air_WorldSpan_RoundTrip" connectionString="AirWorldSpanDataConnection" dataTableName="Air_WorldSpan_RoundTrip$" dataAccessMethod="Sequential" />
      <add name="AirLoginCreditCardCsv" connectionString="CSVFileDataConn" dataTableName="AirLoginCreditCardData#csv" dataAccessMethod="Sequential" />
      <!--Car Data Sources-->
      <add name="Car_Airport_To_Airport" connectionString="CarScenariosDataConnection" dataTableName="Car_Airport_To_Airport$" dataAccessMethod="Sequential" />
      <add name="Car_Airport_To_City" connectionString="CarScenariosDataConnection" dataTableName="Car_Airport_To_City$" dataAccessMethod="Sequential" />
      <add name="Car_Airport_To_SameAsPickUp" connectionString="CarScenariosDataConnection" dataTableName="Car_Airport_To_SameAsPickUp$" dataAccessMethod="Sequential" />
      <add name="Car_City_To_Airport" connectionString="CarScenariosDataConnection" dataTableName="Car_City_To_Airport$" dataAccessMethod="Sequential" />
      <add name="Car_City_To_City" connectionString="CarScenariosDataConnection" dataTableName="Car_City_To_City$" dataAccessMethod="Sequential" />
      <add name="Car_City_To_SameAsPickUp" connectionString="CarScenariosDataConnection" dataTableName="Car_City_To_SameAsPickUp$" dataAccessMethod="Sequential" />
      <!--Hotel Data Sources-->
      <add name="GeneralScenarios" connectionString="HotelScenariosDataConnection" dataTableName="GeneralScenarios$" dataAccessMethod="Sequential" />
      <add name="AmedusWSHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="AmedusWSHotelBookingFlow$" dataAccessMethod="Sequential" />
      <add name="HotelsComHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="HotelsComHotelBookingFlow$" dataAccessMethod="Sequential" />
      <add name="HotelBedsHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="HotelBedsHotelBookingFlow$" dataAccessMethod="Sequential" />
      <add name="PegasusHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="PegasusHotelBookingFlow$" dataAccessMethod="Sequential" />
      <add name="PegasussplHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="PegasussplHotelBookingFlow$" dataAccessMethod="Sequential" />
      <add name="PriceLineV3HotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="PriceLineV3HotelBookingFlow$" dataAccessMethod="Sequential" />
      <add name="TouricoTGSHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="TuricoTGSHotelBookingFlow$" dataAccessMethod="Sequential" />
      <add name="FiltersAndMatrixScenarios" connectionString="HotelScenariosDataConnection" dataTableName="FiltersAndMatrixScenarios$" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>
  <LogManager>
    <SummaryLoggers>
      <add alias="fileLogger" namespace="Rovia.UI.Automation.Logger.FileLogger" assembly="Rovia.UI.Automation.Logger" target="SummaryLog" />
    </SummaryLoggers>
    <DetailLoggers>
      <add alias="fileLogger" namespace="Rovia.UI.Automation.Logger.FileLogger" assembly="Rovia.UI.Automation.Logger" target="DetailLog" />
      <add alias="consoleLogger" namespace="Rovia.UI.Automation.Logger.ConsoleLogger" assembly="Rovia.UI.Automation.Logger" target="Console" />
    </DetailLoggers>
    <Severity value="All" />
  </LogManager>
  <appSettings>
    <add key="runner" value="local" />
    <add key="hubhost" value="hub.browserstack.com" />
    <add key="browserstack.user" value="rohitshukla1" />
    <add key="browserstack.key" value="qd2xpc2gjCaz4Ng7Q5Qf" />
    <add key="driver" value="Chrome|37.0" />
    <add key="browser" value="Chrome|37.0" />
    <add key="os" value="Windows|8" />
    <add key="resolution" value="1024x768" />
    <add key="browserstack.debug" value="false" />
    <add key="takesScreenshot" value="false" />
    <add key="site" value="travel" />
    <add key="application.environment" value="prod" />
    <add key="application.tripsErrorUI.url" value="http://apis.rovia.com/TripsErrorUI/v1.0/Logs.aspx" />
    <add key="application.url" value="http://www.rovia.com" />
    <add key="application.preferred.username" value="3285301" />
    <add key="application.preferred.password" value="test" />
    <add key="application.registered.username" value="vrathod@tavisca.com" />
    <add key="application.registered.password" value="zaq1ZAQ!" />
    <add key="application.maxSearchDepth" value="5" />
    <add key="application.loggedfilepath" value="E:\TestResults" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>