<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LogManager"
             type="Rovia.UI.Automation.Logger.LogManagerConfigSection, Rovia.UI.Automation.Logger" />
    <section name="microsoft.visualstudio.testtools"
             type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <connectionStrings>
    <add name="AirScenariosDataConnection" connectionString= "Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\DataSheet\AirScenarios.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="HotelScenariosDataConnection" connectionString= "Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\DataSheet\HotelScenarios.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="CSVFileDataConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|;Extended Properties=&quot;text;HDR=Yes;FMT=Delimited&quot;" providerName="System.Data.OleDb" />
    <add name="CarScenariosDataConnection" connectionString= "Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\DataSheet\CarScenarios.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="AirAmadeusDataConnection" connectionString= "Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\DataSheet\Air\Air_Amadeus.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="AirMystiflyDataConnection" connectionString= "Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\DataSheet\Air\Air_Mystifly.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="AirSabreDataConnection" connectionString= "Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\DataSheet\Air\Air_Sabre.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
    <add name="AirWorldSpanDataConnection" connectionString= "Driver={Microsoft Excel Driver (*.xlsx)};Dsn=Excel Files;dbq=|DataDirectory|\DataSheet\Air\Air_WorldSpan.xlsx;defaultdir=.; driverid=790;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc" />
  </connectionStrings>

  <microsoft.visualstudio.testtools>
    <dataSources>
      <!--Air Data Sources-->
      <add name="AirLoginCreditCard" connectionString="AirScenariosDataConnection" dataTableName="AirLoginCreditCard$" dataAccessMethod="Sequential"/>
      <add name="AirGuestCreditCard" connectionString="AirScenariosDataConnection" dataTableName="AirGuestCreditCard$" dataAccessMethod="Sequential"/>
      <add name="AirLoginRoviaBucks" connectionString="AirScenariosDataConnection" dataTableName="AirLoginRoviaBucks$" dataAccessMethod="Sequential"/>
      <add name="Air_Amadeus_OneWay" connectionString="AirAmadeusDataConnection" dataTableName="Air_Amadeus_OneWay$" dataAccessMethod="Sequential"/>
      <add name="Air_Amadeus_RoundTrip" connectionString="AirAmadeusDataConnection" dataTableName="Air_Amadeus_RoundTrip$" dataAccessMethod="Sequential"/>
      <add name="Air_Amadeus_Multicity" connectionString="AirAmadeusDataConnection" dataTableName="Air_Amadeus_Multicity$" dataAccessMethod="Sequential"/>
      <add name="Air_Mystifly_OneWay" connectionString="AirMystiflyDataConnection" dataTableName="Air_Mystifly_OneWay$" dataAccessMethod="Sequential"/>
      <add name="Air_Mystifly_RoundTrip" connectionString="AirMystiflyDataConnection" dataTableName="Air_Mystifly_RoundTrip$" dataAccessMethod="Sequential"/>
      <add name="Air_Mystifly_Multicity" connectionString="AirMystiflyDataConnection" dataTableName="Air_Mystifly_Multicity$" dataAccessMethod="Sequential"/>
      <add name="Air_Sabre_OneWay" connectionString="AirSabreDataConnection" dataTableName="Air_Sabre_OneWay$" dataAccessMethod="Sequential"/>
      <add name="Air_Sabre_RoundTrip" connectionString="AirSabreDataConnection" dataTableName="Air_Sabre_RoundTrip$" dataAccessMethod="Sequential"/>
      <add name="Air_WorldSpan_OneWay" connectionString="AirWorldSpanDataConnection" dataTableName="Air_WorldSpan_OneWay$" dataAccessMethod="Sequential"/>
      <add name="Air_WorldSpan_RoundTrip" connectionString="AirWorldSpanDataConnection" dataTableName="Air_WorldSpan_RoundTrip$" dataAccessMethod="Sequential"/>

      <add name="AirLoginCreditCardCsv" connectionString="CSVFileDataConn" dataTableName="AirLoginCreditCardData#csv" dataAccessMethod="Sequential"/>
      
      <!--Hotel Data Sources-->
      <add name="GeneralScenarios" connectionString="HotelScenariosDataConnection" dataTableName="GeneralScenarios$" dataAccessMethod="Sequential"/>
      <add name="AmedusWSHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="AmedusWSHotelBookingFlow$" dataAccessMethod="Sequential"/>
      <add name="HotelsComHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="HotelsComHotelBookingFlow$" dataAccessMethod="Sequential"/>
      <add name="HotelBedsHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="HotelBedsHotelBookingFlow$" dataAccessMethod="Sequential"/>
      <add name="PegasusHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="PegasusHotelBookingFlow$" dataAccessMethod="Sequential"/>
      <add name="PegasussplHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="PegasussplHotelBookingFlow$" dataAccessMethod="Sequential"/>
      <add name="PriceLineV3HotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="PriceLineV3HotelBookingFlow$" dataAccessMethod="Sequential"/>
      <add name="TuricoTGSHotelBookingFlow" connectionString="HotelScenariosDataConnection" dataTableName="TuricoTGSHotelBookingFlow$" dataAccessMethod="Sequential"/>
      <add name="FiltersAndMatrixScenarios" connectionString="HotelScenariosDataConnection" dataTableName="FiltersAndMatrixScenarios$" dataAccessMethod="Sequential"/>
      
      
      <!--Car Data Sources-->
      <add name="Car_Airport_To_Airport" connectionString="CarScenariosDataConnection" dataTableName="Car_Airport_To_Airport$" dataAccessMethod="Sequential"/>
      <add name="Car_Airport_To_City" connectionString="CarScenariosDataConnection" dataTableName="Car_Airport_To_City$" dataAccessMethod="Sequential"/>
      <add name="Car_Airport_To_SameAsPickUp" connectionString="CarScenariosDataConnection" dataTableName="Car_Airport_To_SameAsPickUp$" dataAccessMethod="Sequential"/>
      <add name="Car_City_To_Airport" connectionString="CarScenariosDataConnection" dataTableName="Car_City_To_Airport$" dataAccessMethod="Sequential"/>
      <add name="Car_City_To_City" connectionString="CarScenariosDataConnection" dataTableName="Car_City_To_City$" dataAccessMethod="Sequential"/>
      <add name="Car_City_To_SameAsPickUp" connectionString="CarScenariosDataConnection" dataTableName="Car_City_To_SameAsPickUp$" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>


  <LogManager>
    <SummaryLoggers>
      <add alias ="fileLogger" namespace="Rovia.UI.Automation.Logger.FileLogger" assembly="Rovia.UI.Automation.Logger" target="SummaryLog"/>
    </SummaryLoggers>
    <DetailLoggers>
      <add alias ="fileLogger" namespace="Rovia.UI.Automation.Logger.FileLogger" assembly="Rovia.UI.Automation.Logger" target="DetailLog"/>
      <add alias ="consoleLogger" namespace="Rovia.UI.Automation.Logger.ConsoleLogger" assembly="Rovia.UI.Automation.Logger" target="Console"/>
    </DetailLoggers>
    <Severity value="All"/>

  </LogManager>
  <appSettings>
    <add key="driver" value="chrome" />
    
    <!--environment specific keys-->
    <add key="application.environment" value="qa"/>
    <add key="application.tripsErrorUI.url" value="http://apis.qa-worldventures.com/TripsErrorUI/v3.0/logs.aspx"/>
    <add key="application.url" value="http://dtl.qa-rovia.com/rovia"/>
    
    <add key="application.preferred.username" value="3285301" />
    <add key="application.preferred.password" value="test" />
    <add key="application.registered.username" value="vrathod@tavisca.com" />
    <add key="application.registered.password" value="zaq1ZAQ!" />
    <add key="application.maxSearchDepth" value="5"/>
    
    <add key ="application.loggedfilepath" value="\\TavWITPD047\D$\TestResults"/>
  </appSettings>
</configuration>
