<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="driver" value="chrome" />
    <add key="application.url" value="http://portal.dev-rovia.com/rovia" />
    <!--<add key="application.url" value="http://corp.rovia.com/"/>-->
    <add key="application.webuser.username" value="3285301" />
    <add key="application.webuser.password" value="test" />
  </appSettings>
</configuration>